.zlavy-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em auto 0;
    border-top: 1px solid rgba(156, 156, 156, 0.66);
    width: 70%;

}

.zlavy-header h1,
.oznamy-header h1 {

    border-bottom: 3px solid rgb(64, 187, 192);
    padding-bottom: 0.1em;
    margin: 50px;
    text-align: center;
    line-height: .9em;



}

.zlavy-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: .5em;

}

.zlavy-images img {
    width: 18em;
    height: 18em;
    object-fit: cover;
    margin-right: 2em;
    border: 2px solid rgba(77, 77, 77, 0.44);
    box-shadow: 0 10px 20px rgba(33, 33, 33, 0.593);
    margin-bottom: 2em;
}




/* .zlavy-images a:nth-child(3) img {
    border: 2px solid rgba(77, 77, 77, 0.44);
    box-shadow: 0 10px 20px rgba(33, 33, 33, 0.593);
    margin-bottom: 2em;
    animation: move infinite 7s linear;
} */

.zlavy-images a:first-child img {
    object-fit: contain;
}



@keyframes move {
    0% {
        object-position: bottom 0 left 0;
    }

    100% {
        object-position: bottom 0 left 100%;
    }

    0% {
        object-position: bottom 0;
    }

}



.zlavy-images img:hover {
    transform: scale(1.05);
    transition: ease-in-out .3s;
}

.oznamy {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: center;

}

.oznamy p {
    text-align: left;
    padding: 15px;
    line-height: 1.6em;
    box-shadow: 0 5px 20px rgba(101, 101, 101, 0.35);


}

.oznamy p:hover {
    transition: .3 ease-in-out;
    transform: scale(1.1);
}

.oznamy h2 {

    margin: 40px 15px;
    font-size: 2em;
    text-align: center;
    line-height: 1.6;
    padding: 10px;

}


@media screen and (max-width: 1024px) {
    .oznamy {
        width: 80%;
    }

}


@media screen and (max-width:710px) {

    .zlavy-images img {
        margin-right: 0em;
    }
}

@media screen and (max-width:500px) {

    .zlavy-header h1 {
        font-size: 1.5em;

    }

    .oznamy h2 {
        font-size: 1.5em;
    }


}